
Project Name: Portfolio
Client: NA
Author: Maximiliano Diaz Garcia
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --blue: #193549;
  --click: #B9E2A6;
  --lightgrey: #6C788E;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  color: mintcream;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
main {
  position: relative;
  background-color: var(--blue);
  border-top: tomato solid 15px;
}
aside {
  background: mintcream;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
  color: var(--blue);
}
span {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline;
  font-size: 1.9rem;
  letter-spacing: 0.02em;
  font-weight: bold;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.3rem;
}
img {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 15% 100%);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 20% 100%);
  max-width: 100%;
  cursor: pointer;
}
ul {
  padding: 0.3em;
}
li {
  font-weight: lighter;
  border-bottom: 0.2px solid #ddd;
  text-align: left;
}
header {
  margin-top: 2em;
  margin-bottom: 1em;
}
a {
  color: green;
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

/******************************************
MAIN
/*******************************************/
.introduction {
  grid-column: 2/12;
}
#content {
  display: flex;
  flex-direction: column;
}
.main::after,
.main::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background: var(--blue);
  bottom: 0em;
  z-index: 99;
}
.main::before {
  right: 50%;
  transform: skew(0, 20deg)
}
.main::after {
  left: 50%;
  transform: skew(0, -20deg)
}
.landing {
  min-height: 90vh;
}
.fab, .far {
  color: mintcream;
  text-decoration: none;
}
.fab:hover {
  color: var(--click);
}
.far:hover {
  color: var(--click);
}
.header-icons {
  text-align: right;
}
.fab.fa-linkedin {
  padding-right: 0.2em;
}
.far.fa-envelope {
  padding-right: 0.2em;
}
.welcome {
  font-weight: lighter;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.introduction.column {
  margin: 1em 0 2em 0;
}
.introduction.internship {
  font-size: 1rem;
  text-align: center;
  font-variant: all-petite-caps;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  z-index: 100;
}
.intern {
  display: inline;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  font-weight: lighter;
}

/******************************************
ASIDE
/*******************************************/
.container.aside {
  margin-bottom: 3em;
  font-weight: bold;
}
.projects {
  grid-column: 2/12;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif;
}
.projects-title {
  font-size: 2.5rem;
  
  text-align: left;
  font-weight: lighter;
  font-variant: all-petite-caps;
}
.portfolio-name {
  font-family: italic;
  font-family: 'Ubuntu', sans-serif;
  font-variant: sub;
}
img:hover {
  opacity: 0.3;
}
.portfolio-img {
  display: grid;
  margin: 0.2em;
  margin-top: 1.5em;
  grid-gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.portfolio-img-two, .portfolio-img-fourth {
  justify-self: end;
}
.projects-sub {
  font-size: 1rem;
  text-align: center;
  font-variant: sub;
  margin-top: 2.5em;
}
.expertise {
  grid-column: 2/12;
}
.expertise-container {
  margin-top: 2em;
}
.expertise-title {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-weight: lighter;
  font-variant: all-petite-caps;
}
.expertise-box {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.expertise-box-title {
  background-color: var(--lightgrey);
  color: mintcream;
  text-align: center;
  padding: 0.2em;
  font-family: 'Roboto', sans-serif;
}
.expertise-box-div {
  margin-top: 1em;

}
.expertise-end {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 2.5em;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
.expertise-end-title {
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

/******************************************
FOOTER
/*******************************************/
.footer {
  background-color: cadetblue;
}
.contact {
  grid-column: 2/12;
  padding: 2em;
}
.farewell {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 1.3rem;
  margin-top: 0.5em;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}
/* End */


/* Medium devices (small portrait tablets and large phones) */
@media (min-width: 450px) {
  header {
    margin-top: 2.5em;
  }
  span {
    font-size: 2.5rem;
  }
  .welcome {
    margin-top: 4em;
  }
  .first-column {
    line-height: 1.5;
  }
  .intern {
    font-size: 1.5rem;
  }
  .container.aside {
    margin-bottom: 4em;
  }
  .portfolio-img {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
  }
  .expertise-box-title {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .expertise-end {
    
    margin-top: 2.5em;
  }  
  .portfolio-img-two, .portfolio-img-fourth {
    justify-self: start;
  }
  .expertise-box-div {
    margin-top: 0.5em;
  }
  .container.footer {
    margin-top: 2.5em;
  }
  .contact {
    grid-column: 3/11;
    padding: 3em;
  }
  .social-media {
    margin-top: 1.5em;
  }
}
/* End */


/* Medium devices (portrait tablets) */
@media (min-width: 768px) {
  .main::after,
  .main::before {
    bottom: -1em;
  }
  .welcome {
    margin-top: 5em;
  }
  .intern {
    font-size: 2rem;
  }
  .first-column {
    line-height: 2;
    font-size: 1.5rem;
  }
  .introduction.column {
    margin: 1em 0 1em 0;
  }
  .intern {
    font-size: 1.5rem;
  }
  .expertise-title { 
    font-size: 2rem;
  }
  .social-media {
    font-size: 1rem;
  }
  .projects-title {
    font-size: 2rem;
  }
}
/* End */


/* Large devices (landscape tablets/laptops/desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 1.2rem;
    letter-spacing: 0.015em;
    line-height: 1.5;
  }
  header {
    margin-top: 1.5em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  span {
    font-size: 4.5rem;
  }
  .header-icons {
  font-size: 0.8rem;
  }
  .welcome {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 1rem;
  }
  .landing {
    min-height: 100vh;
  }
  .columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
  }
  .first-column {
    grid-column: 1/6;
    line-height: 2.5;
  }
  .intern {
    font-size: 2rem;
  }
  .introduction.internship {
    font-size: 1.8rem;
    letter-spacing: .2em;
    word-spacing: .4em;
    margin-top: 3em;
  }
  .main::after,
  .main::before {
    width: 150px;
    height: 150px;
  }
  .container.aside {
    margin-top: 4em;
    margin-bottom: 5em;
  }
  .projects {
    grid-column: 2/7;
    margin-top: 0;
  }
  .projects-sub {
    font-size: 1.5rem;
    margin-top: 3.5em;
    text-align: left;
  }
  .projects-title {
    font-size: 2.5rem;
    text-align: left;
  }
  .expertise-container {
    margin-top: 0;
  }
  .expertise {
    grid-column: 8/12;
  }
  .expertise-box {
  flex-direction: row;
  }
  .expertise-title {
  
    font-size: 2.5rem;
  }
  .social-media {
    font-size: 1rem;
  }
  .portfolio-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center;
  }
  .expertise-box {
    justify-content: flex-end;
  }
  .expertise-box-title {
  padding-right: 0em;
  padding-left: 0em;
  }
  li {
  border-bottom: .2px solid #ddd;
  text-align: right;
  }
  ul {
    padding: 1em;
  }
  .expertise-end-title > p {
    margin-top: 1.5em;
  }
  .expertise-end {
    margin-top: 1em;
  }
  .container.footer {
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: 0;
  }
  .contact {
    grid-column: 2/12;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: end;
  }
  .farewell {
    margin-right: 2em;
    font-size: 1.5rem;
  }
  .social-media {
    padding-left: 0.5em;
    flex-direction: column;
  }
  .fa-3x {
    font-size: 2.5em;
    padding-left: 0.01em;
    padding-right: 0.01em;
  }
}
/* End */

/* XL devices */
@media (min-width: 1800px) {
  body {
    font-size: 1.5rem;
  }
  .first-column {
    line-height: 3;
  }
  .intern {
    font-size: 2.5rem;
  }
  .container.aside {
    margin-top: 5em;
    margin-bottom: 7em;
  }
  .projects {
    grid-column: 2/6;
    margin-top: 0;
  }
  .expertise {
    grid-column: 8/12;
  }
  .expertise-title { 
  font-size: 3.5rem;
  }
  .projects-title {
  font-size: 3.5rem;
  }
  .expertise-end {
    margin-top: 2.5em;
  }
  .farewell {
    font-size: 3rem;
  }
}







/*////////////////////sandbox////////////////////
*/



/*/*//* span {
  position: relative;
  display: block;
  width: 0;
  min-height: 0.5em;
  -webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
  /*transition: width 5s;*/
  /*transition: width 0.3s;*/
/*  overflow: hidden;
}*/
/*span.open {
  -webkit-transform: rotate(deg);  Safari 
  transform: rotate(deg);
  width: 100%;
  height: 10em;
  animation-name: example;
}*/
  /*@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/


