
Project Name: Portfolio
Client: NA
Author: Maximiliano Diaz Garcia
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: mintcream;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.3rem;
}
img {
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  max-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  margin-top: 1.5em;
}
.introduction {
  grid-column: 2/12;
}
/*-----------------------------------------------*/
/*#main {

}*/
#content {
  display: flex;
  flex-direction: column;
}
#typewriter {
  display: none;
  text-align: right;
  font-size: 4rem;
  color: #A6AEC1;
}
main {
  position: relative;
  background-color: #2A364D;
  border-top: tomato solid 15px;
}

.main::after,
.main::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background: #2A364D;
  bottom: -1em;
  z-index: 99;
}

.main::before {
  right: 50%;
  transform: skew(0, 20deg)
}

.main::after {
  left: 50%;
  transform: skew(0, -20deg)
}
/*.section {
  padding: 0.5em;
}*/


.welcome {
  font-weight: lighter;
  margin-bottom: 1em;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.introduction.third {
  font-size: 1rem;
  text-align: center;
  font-variant: all-petite-caps;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  margin-top: 1em;
  margin-bottom: 1em;
  z-index: 100;
}
.intro-p {
  display: inline;
}

/******************************************
ASIDE
/*******************************************/
aside {
  background: mintcream;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
  color: black;
}
.projects {
  grid-column: 2/12;
  margin-top: 2em;
  margin-bottom: 1em;
}
.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.container.aside {
  margin-bottom: 3em;
}
/*.portfolio-img {
  display: grid;
  margin: 0.5em;
  grid-gap: 1em;
  justify-items: start;
}*/
.portfolio-img {
  display: grid;
  margin: 0.2em;
  margin-top: 1.5em;
  grid-gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.portfolio-img-two, .portfolio-img-fourth {
  justify-self: end;
}
.projects-sub {
  font-variant: sub;
  margin-top: 0.5em;
}
.expertise {
  grid-column: 2/12;
}
/*.expertise-container {
  padding: 0.5em;
}*/
.expertise-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.expertise-box {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}


li {
  border-bottom: 0.2px solid #ddd;
  text-align: left;
}
ul {
  padding: 0.3em;
}

.expertise-box-title {
  background-color: lightslategray;
  color: white;
  text-align: center;
  padding: 0.2em;
}
.expertise-box-div {
  margin-top: 1em;

}
.expertise-end {
    margin-top: 0.5em;
}
/*.farewell {
  grid-column: 2/12;
  background-color: red;
}*/


/******************************************
FOOTER
/*******************************************/
.footer {
  background-color: cadetblue;
  /*padding: 4em;*/
}
/*.year {
  color: black;
  grid-column: 2/3;
  display: flex;
  align-items: end;
}*/
.contact {
  grid-column: 2/12;
  padding: 2em;
}
.farewell {
  text-align: center;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

/* Medium devices (portrait tablets and large phones) */
@media (min-width: 450px) {
  img {
    /*max-width: 100%;*/
  }
  .container.aside {
    margin-bottom: 4em;
  }
  .portfolio-img {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    /*justify-items: center;*/
  }
  /*.expertise-box {
    flex-direction: row;
    justify-content: center;
  }*/
  .expertise-box-title {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .expertise-title {
    text-align: center;
  }
  .portfolio-img-two, .portfolio-img-fourth {
    justify-self: start;
  }
  .expertise-box-div {
    margin-top: 0.5em;
  }
  .container.footer {
    margin-top: 2.5em;
  }
  .contact {
    grid-column: 3/11;
    padding: 3em;
  }
  .social-media {
    margin-top: 1.5em;
}


}
/* End Devices in between cell phone and tablet*/

/* Large devices (landscape tablets/laptops/desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 1.2rem;
    letter-spacing: 0.015em;
    line-height: 1.5;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .container {
    margin-top: 2em;
  }
  #typewriter {
    display: block;
  }
  /*.section {
    padding: 1.5em;
  }*/
  .welcome {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5rem;
  }
  .introduction.third {
    font-size: 1.8rem;
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
    margin-top: 2em;
  }
  .main::after,
  .main::before {
    width: 150px;
    height: 150px;
  }
  .container.aside {
    margin-top: 4em;
    margin-bottom: 5em;
  }
  .projects {
    grid-column: 2/7;
    margin-top: 0;
  }
  .projects-title {
  font-size: 2rem;
  text-align: left;
  }
  .expertise {
    grid-column: 8/12;
  }
  .expertise-box {
  flex-direction: row;
  }
  .expertise-title {
    text-align: right;
    font-size: 2rem;
  }
  .portfolio-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center;
  }
  .expertise-box {
    justify-content: flex-end;
  }
  .expertise-box-title {
  padding-right: 0em;
  padding-left: 0em;
  }
  li {
  border-bottom: 0.2px solid #ddd;
  text-align: right;
  }
  ul {
    padding: 1em;
  }
  .expertise-end {
    margin-top: 1em;
  }
  .container.footer {
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: 0;
  }
  .contact {
    grid-column: 3/12;
    padding: 0;
    /*padding-top: 3em;
    padding-bottom: 3em;*/
    /*padding-left: 0;
    padding-right: 0;*/
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: end;
    align-items: center;
  }
  .farewell {
  /*display: inline-flex;*/
  }
  .social-media {
    padding-left: 0.5em;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .fa-3x {
    font-size: 2.5em;
    padding-left: 0.01em;
    padding-right: 0.01em;
  }


}

@media (min-width: 1800px) {
  body {
    font-size: 1.5rem;
  }
}




/********************************************/
#grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100%, auto);
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  position: fixed;
  grid-column-gap: 5px;

}
#grid p {
  border: 1px solid black;
  margin: 0;
  opacity: 0.2;
  background-color: grey;
}
#grid p:nth-child(even) {
  background: #EDEDF2;
}
/*******************************************
